.container.login
{
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-login .btn {
    color: #8E8C8E;
    transition: all 0.4s;
}

.user .user-login .btn:hover {
  background-color: #7A7E8A;
  color: #FFF;
}

[data-clone-tpl]
{
  display: none;
}

.form-horizontal .form-group.has-feedback
{
  margin: 0 !important;
}
.form-horizontal .form-group.has-feedback .form-control-feedback
{
  right: 0;
}

.inline-block
{
  display: inline-block;
}

.avtar
{
  width: 40px
}

.logo
{
  height: 200px;
  display: inline-block;
}

.flex-center
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.label.label-primary.bigger-text
{
  font-size: 80%;
}

.nav-tabs.transparent > li.active > a
{
  background-color: transparent;
}

.space-between
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/****Dashboard Stats****/

.stats.panel
{
	position:relative;
	padding:10px 10px 10px 106px;
}

.stats i.fa.stats-icon
{
	width:80px;
	padding:20px;
	font-size:40px;
	position:absolute;
	margin-left:10px;
	left:0px;
	top:10px;
	text-align:center;
	z-index:1;
	color:#fff;
	height:80px;
}

.stats.rounded i.fa.stats-icon,
.stats.rounded.panel
{
	border-radius:50px;
}

.stats .sparkline
{
	position:absolute;
	left:30px;
	top:20px;
	opacity:0;
}

.stats h3
{
	margin-top:14px;
}

.stats small
{
	font-size:14px;
	margin-left:6px;
	opacity:0.8;
}
